.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 90vh;
  background-image: url("https://unbounce.com/photos/Gradient-Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 100% 66%, 0 100%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 100% 66%, 0 100%, 0 0);
}
.home-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: rgba(3, 1, 16, 0.578);
  top: 0;
  left: 0;
  z-index: -1;
}
.home-container h2 {
  font-size: 4rem;
  font-family: sans-serif;
  letter-spacing: 0.2rem;
  font-family: "poppins";
  letter-spacing: 0.5rem;
}
.home-container span {
  color: rgb(80, 115, 147);
  background: linear-gradient(
    to right,
    rgb(165, 165, 231),
    rgb(232, 41, 41),
    rgb(210, 154, 49),
    rgb(234, 93, 116)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.home-container button {
  font-size: 1.2rem;
  font-weight: 550;
  border: 1px solid gray;
  padding: 1.2rem 6rem;
  border-radius: 40px;
  cursor: pointer;
  background: transparent;
  transition: all 0.4s linear;
}
.home-container p {
  font-size: 1.4rem;
  text-transform: capitalize;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.home-container button:hover {
  background-color: #e9e7f155;
  transform: translateY(-5%);
}
